# Ignorar archivos temporales
*.tmp

# Ignorar archivos de construcción
build/

# Ignorar archivos de configuración locales
# config.ini

# Ignorar el codigo ejecutable
*.bin

# Ignorar las salvas de VIM
*.swp

